<template>
  <ul class="menu-nav">
    <router-link
      to="/home"
      v-slot="{ href, navigate, isActive, isExactActive }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-icon flaticon2-architecture-and-city"></i>
          <span class="menu-text">Home</span>
        </a>
      </li>
    </router-link>

    <router-link
      to="/store"
      v-slot="{ href, navigate, isActive, isExactActive }"
    >
      <li
        v-show="User_Role != 2"
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-icon flaticon2-supermarket"></i>
          <span class="menu-text">Store</span>
        </a>
      </li>
    </router-link>

    <router-link
      to="/cart"
      v-slot="{ href, navigate, isActive, isExactActive }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-icon flaticon2-shopping-cart"></i>
          <span class="menu-text">Shopping Cart</span>
        </a>
      </li>
    </router-link>
  </ul>
</template>

<script>
import localStorage from "@/core/services/store/localStorage";

export default {
  name: "KTMenu",
  data() {
    return {
      User_Role: ""
    };
  },
  methods: {
    hasActiveChildren(match) {
      return this.$route["path"].indexOf(match) !== -1;
    }
  },
  mounted() {
    this.User_Role = localStorage.getLocalStorage("User_Role");
  },
};
</script>
