<template>
  <v-app>
    <div class="d-flex flex-column flex-root">
      <div
        class="login login-1 d-flex flex-column flex-lg-row flex-column-fluid"
        style="background-color: #bebebe;"
        :class="{
          'login-signin-on': this.state == 'signin',
          'login-signup-on': this.state == 'signup',
          'login-forgot-on': this.state == 'forgot'
        }"
        id="kt_login"
      >
        <!--begin::Content-->
        <div
          class="mt-7 mb-7 rounded shadow-lg login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto bg-white"
        >
          <div class="d-flex flex-column-fluid flex-center">
            <!--begin::Signin-->
            <div class="login-form login-signin">
              <form
                class="form"
                novalidate="novalidate"
                id="kt_login_signin_form"
              >
                <div class="d-flex justify-content-center mb-15">
                  <img class="flaticon_logo" src="logo.png" alt="Logo">
                </div>
                <v-row>
                  <v-col
                    cols="12"
                    sm="12"
                  >
                    <v-text-field
                      class="rounded"
                      v-model="form.username"
                      label="Username"
                      color="#C58F06"
                      :rules="rulesNotNull"
                      hide-details="auto"
                      filled
                      :maxlength="maxfullname"
                      shaped
                      clearable
                    ></v-text-field>
                  </v-col>

                  <v-col
                    cols="12"
                    sm="12"
                  >
                  <v-text-field
                      class="rounded"
                      v-model="form.password"
                      :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="show ? 'text' : 'password'"
                      :rules="rulesPwd"
                      hide-details="auto"
                      color="#C58F06"
                      filled
                      shaped
                      label="Password"
                      :maxlength="maxPassword"
                      clearable
                      @click:append="show = !show"
                    ></v-text-field>

                  </v-col>
                </v-row>
                <div class="d-flex justify-content-end mt-n5">
                  <a
                    class="text-danger font-size-sm font-weight-bolder text-hover-primary pt-5"
                    id="kt_login_forgot"
                    @click="showForm('forgot')"
                    >Forgot Password ?</a
                  >
                </div>
                <div class="d-flex justify-content-center">
                  <button
                    :disabled='isDisabled'
                    ref="kt_login_signin_submit"
                    class="btn btn-primary btn-sm font-weight-bolder font-size-h6 w-100 rounded-lg py-3 mt-8"
                  >
                    Login
                  </button>
                </div>
              </form>
            </div>
            <!--end::Signin-->
            <!--begin::Forgot-->
            <div class="login-form login-forgot">
              <!--begin::Form-->
              <form
                class="form"
                novalidate="novalidate"
                id="kt_login_forgot_form"
                ref="kt_login_forgot_form"
              >
                <div class="pb-13 pt-lg-0 pt-5">
                  <h3
                    class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg"
                  >
                    Forgotten Password ?
                  </h3>
                  <p class="text-muted font-weight-bold font-size-h4">
                    Enter your email to reset your password
                  </p>
                </div>
                <div class="form-group">
                  <input
                    class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                    type="email"
                    placeholder="Email"
                    name="email"
                    autocomplete="off"
                  />
                </div>
                <div class="form-group d-flex flex-wrap pb-lg-0">
                  <button
                    disabled
                    type="button"
                    id="kt_login_forgot_submit"
                    class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"
                  >
                    Submit
                  </button>
                  <button
                    type="button"
                    id="kt_login_forgot_cancel"
                    class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3"
                    @click="showForm('signin')"
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>
            <!--end::Forgot-->
          </div>
        </div>
        <!--end::Content-->
      </div>
    </div>
  </v-app>
</template>

<!-- Load login custom page styles -->
<style lang="scss">
@import "@/assets/sass/pages/login/login-1.scss";
.lineLeftRigth h1 {
  display: flex;
  flex-direction: row;
  font-size: 11pt;
  color: gray;
  margin-top: 1em;
  margin-bottom: 1em;
}
.lineLeftRigth h1:before, h1:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.lineLeftRigth h1:before {
  margin-right: 10px
}
.lineLeftRigth h1:after {
  margin-left: 10px
}
</style>

<script>
import formValidation from "@/assets/plugins/formvalidation/dist/es6/core/Core";

// FormValidation plugins
import Trigger from "@/assets/plugins/formvalidation/dist/es6/plugins/Trigger";
import Bootstrap from "@/assets/plugins/formvalidation/dist/es6/plugins/Bootstrap";
import SubmitButton from "@/assets/plugins/formvalidation/dist/es6/plugins/SubmitButton";

import KTUtil from "@/assets/js/components/util";
import { mapGetters, mapState } from "vuex";
import { LOGIN, LOGOUT, REGISTER } from "@/core/services/store/auth.module";
import Swal from "sweetalert2";

export default {
  name: "login-1",
  data() {
    return {
      state: "signin",
      // Remove this dummy login info
      form: {
        username: "",
        name: "",
        email: "",
        password: ""
      },
      show: false,
      rulesNotNull: [
        value => !!value || 'Username Tidak boleh kosong.',
        value => (value && value.length >= 3) || 'Min 3 Karakter',
      ],
      rulesPwd: [
        value => !!value || 'Password Tidak boleh kosong.',
        value => (value && value.length >= 3) || 'Min 3 Karakter dengan 1 Karakter Kapital',
        value => (value && /[A-Z]{1}/.test(value)) || 'Min 1 Karakter Kapital',
      ],
      maxfullname: 30,
      maxPassword: 10,
      minfullname: 3,
      minpassword: 3
    };
  },
  computed: {
    ...mapState({
      errors: state => state.auth.errors
    }),
    ...mapGetters(["currentUser"]),

    backgroundImage() {
      return (
        process.env.BASE_URL + "media/svg/illustrations/login-visual-1.svg"
      );
    },

    isDisabled(){
      return !this.form.username || !this.form.password 
      || (this.form.username.length < this.minfullname) || (this.form.password.length < this.minpassword) 
      || (this.form.username.length > this.maxfullname) || (this.form.password.length > this.maxPassword) 
      || (!/[A-Z]{1}/.test(this.form.password))
    }
  },
  mounted() {
    const signin_form = KTUtil.getById("kt_login_signin_form");
    const forgot_form = KTUtil.getById("kt_login_forgot_form");

    this.fv = formValidation(signin_form, {
      fields: {
        username: {
          validators: {
            notEmpty: {
              message: "Username is required"
            }
          }
        },
        password: {
          validators: {
            notEmpty: {
              message: "Password is required"
            }
          }
        }
      },
      plugins: {
        trigger: new Trigger(),
        submitButton: new SubmitButton(),
        bootstrap: new Bootstrap()
      }
    });

    this.fv2 = formValidation(forgot_form, {
      fields: {
        email: {
          validators: {
            notEmpty: {
              message: "Email is required"
            },
            emailAddress: {
              message: "The value is not a valid email address"
            }
          }
        }
      },
      plugins: {
        trigger: new Trigger(),
        submitButton: new SubmitButton(),
        bootstrap: new Bootstrap()
      }
    });

    this.fv.on("core.form.valid", () => {
      var username = this.form.username;
      var password = this.form.password;

      // clear existing errors
      this.$store.dispatch(LOGOUT);

      // set spinner to submit button
      const submitButton = this.$refs["kt_login_signin_submit"];
      submitButton.classList.add("spinner", "spinner-light", "spinner-right");

      // dummy delay
      setTimeout(() => {
        // send login request
        this.$store
          .dispatch(LOGIN, { username, password })
          // go to which page after successfully login
          .then(() => this.$router.push({ name: "home" }))
          .catch(() => {});

        submitButton.classList.remove(
          "spinner",
          "spinner-light",
          "spinner-right"
        );
      }, 6000);
    });

    this.fv.on("core.form.invalid", () => {
      Swal.fire({
        title: "",
        text: "Please, provide correct data!",
        icon: "error",
        confirmButtonClass: "btn btn-secondary",
        heightAuto: false
      });
    });

    this.fv1.on("core.form.valid", () => {
      var name = this.form.name;
      var username = this.form.username;
      var email = this.form.email;
      var password = this.form.password;

      // clear existing errors
      this.$store.dispatch(LOGOUT);

      // set spinner to submit button
      const submitButton = this.$refs["kt_login_signup_submit"];
      submitButton.classList.add("spinner", "spinner-light", "spinner-right");

      // dummy delay
      setTimeout(() => {
        // send register request
        this.$store
          .dispatch(REGISTER, {
            email: email,
            password: password,
            username: username,
            name: name,
          })
          .then(() => this.$router.push({ name: "home" }));

        submitButton.classList.remove(
          "spinner",
          "spinner-light",
          "spinner-right"
        );
      }, 2000);
    });

    this.fv1.on("core.form.invalid", () => {
      Swal.fire({
        title: "",
        text: "Please, provide correct data!",
        icon: "error",
        confirmButtonClass: "btn btn-secondary",
        heightAuto: false
      });
    });
  },
  methods: {
    showForm(form) {
      this.state = form;
      var form_name = "kt_login_" + form + "_form";
      KTUtil.animateClass(
        KTUtil.getById(form_name),
        "animate__animated animate__backInUp"
      );
    }
  }
};
</script>
