<template>
    <div class="container-fluid">
        <div class="mt-20" v-show="isUpToDate != 1">
            <Message />
        </div>

        <table class="table table-borderless table-vertical-center">
            <thead>
                <tr>
                <th class="p-0" style="width: 50px"></th>
                <th class="p-0" style="min-width: 100px"></th>
                <th class="p-0" style="min-width: 100px"></th>
                </tr>
            </thead>
            <tbody>
                <template >
                <tr v-for="(item, i) in data_film" :key="i">
                    <td class="pl-0 py-4">
                    <div class="symbol symbol-50 symbol-light-primary mr-1">
                        <span class="symbol-label">
                        <img
                            :src="item.avatar"
                            class="h-50 align-self-center"
                            alt=""
                        />
                        </span>
                    </div>
                    </td>
                    <td class="pl-0">
                    <a
                        class="text-dark-75 font-weight-bolder mb-1 font-size-lg"
                    >
                        {{ item.title }}
                    </a>
                    </td>
                    <td class="text-right">
                    <span class="text-muted font-weight-500">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn px-2"
                                @click="delCount(item)"
                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                <i class="fas fa-minus"></i>
                            </button>

                            <input id="form1" min="0" name="quantity" :value="item.total" type="number"
                                class="form-control form-control-sm text-center font-weight-bold" />

                            <button class="btn px-2"
                                @click="addCount(item)"
                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                >
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </span>
                    </td>
                </tr>  
                </template>
            </tbody>
        </table>

        <template>
            <v-row justify="space-around">
                <v-col cols="auto">
                <v-dialog
                    transition="dialog-bottom-transition"
                    max-width="600"
                    v-model="dialog"
                >
                    <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        class="btn btn-outline-primary bg-white"
                        v-bind="attrs"
                        v-on="on"
                        v-show="data_result != 0"
                    >Review</v-btn>
                    </template>
                    <template>
                    <v-card>
                        <v-toolbar
                        class="d-flex justify-content-center text-h5"
                        >
                            Purchasing List
                        </v-toolbar>
                        <v-card-text>
                            <table class="table table-borderless table-hover table-sm">
                                <thead>
                                    <tr>
                                        <td>Name</td>
                                        <td>Qty</td>
                                    </tr>
                                </thead>
                                <tbody v-for="(items, i) in data_film" :key="i">
                                    <tr>
                                        <td>{{ items.title }}</td>
                                        <td>{{ items.total }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </v-card-text>
                        <v-card-actions class="justify-space-around">
                        <v-btn
                            color="#C58F06"
                            text
                            class="font-weight-bold"
                            @click="order"
                        >Order</v-btn>
                        <v-btn
                            text
                            @click="dialog = false"
                        >Close</v-btn>
                        </v-card-actions>
                    </v-card>
                    </template>
                </v-dialog>
                </v-col>
            </v-row>
        </template>

        <v-row justify="center" class="goStore">
            <v-btn
                class="btn btn-outline-primary bg-white nextOrder"
                v-show="isOrder == 1"
                @click="goStore"
            >Lanjut Belanja...</v-btn>
        </v-row>
    </div>
</template>

<style>
.goStore {
    text-align: center;
}

.nextOrder {
    position: absolute;
    top: 50%;
}
</style>

<script>
import Swal from "sweetalert2";
import Message from "@/view/content/Message.vue";

export default {
    data: () => ({
      isUpToDate: "",
      isOrder: "",
      data_film: [],
      data_result: [],
      itemTotal: 0,
      dialog: false,
    }),
    mounted() {
        this.load()
    },
    methods: {
        allData(){
            this.isUpToDate = localStorage.getItem("up-to-date");
            this.isOrder = localStorage.getItem("isOrder");

            this.data_film = JSON.parse(localStorage.getItem("myfilms"))
            if (this.data_film === null) {                
                this.data_result = 0;
            } else {
                this.data_result = this.data_film.length;
            }
        },
        addCount(task){
            let tasks = JSON.parse(localStorage.getItem('myfilms'));
            const updatedCharacters = tasks.map(item => {
                if(item.episode_id === task.episode_id) {
                    return {episode_id: task.episode_id, title: item.title, release_date: item.release_date, total: task.total+1};
                }
                
                return item;
            });
            
            localStorage.setItem("myfilms", JSON.stringify(updatedCharacters));
            this.allData();
        },
        delCount(task){
            if (task.total === 1 || task.total === 0) {
                let tasks = JSON.parse(localStorage.getItem('myfilms'));
                let index = tasks.findIndex(item => item.episode_id === task.episode_id)
                tasks.splice(index, 1);
                
                localStorage.setItem("myfilms", JSON.stringify(tasks));
            }else{
                let tasks = JSON.parse(localStorage.getItem('myfilms'));
                const updatedCharacters = tasks.map(item => {
                    if(item.episode_id === task.episode_id) {
                        return {episode_id: task.episode_id, title: item.title, release_date: item.release_date, total: task.total-1};
                    }
                    
                    return item;
                });
                
                localStorage.setItem("myfilms", JSON.stringify(updatedCharacters));
            }
            this.allData();
        },
        order(){
            localStorage.removeItem("myfilms");
            this.allData();
            this.dialog = false;
            localStorage.setItem("isOrder", 1);
            Swal.fire({
                title: "",
                text: "Yeay, order success",
                icon: "success",
                heightAuto: true,
                timer: 3000
            });
        },
        goStore(){
            this.$router.push({ name: `store` });
        },
        async load() {
            Promise.all([
                await setTimeout(() => this.allData(), 300),
            ]).then(function(results) {
                results;
            });
        },
    },
    components: {Message},
}
</script>