<template>
  <div class="container-fluid">
    <v-hover
      v-slot="{ hover }"
      open-delay="200"
    >
      <v-card
      :elevation="hover ? 16 : 2"
      :class="{ 'on-hover': hover }"
      class="mx-auto shadow-sm rounded-lg py-3 px-3 mb-7">
        <table class="table table-borderless table-hover table-sm">
          <tbody>
              <tr>
                <td>Name</td>
                <td>:</td>
                <td>{{ data_profile.name }}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>:</td>
                <td>{{ data_profile.email }}</td>
              </tr>
              <tr>
                <td>Telepon</td>
                <td>:</td>
                <td>{{ data_profile.telepon }}</td>
              </tr>
              <tr>
                <td>Alamat</td>
                <td>:</td>
                <td>{{ data_profile.alamat }}</td>
              </tr>
          </tbody>
        </table>
      </v-card>
    </v-hover>

    <div class="d-flex justify-content-center mt-48">
      <v-dialog
        v-model="dialog"
        max-width="500px"
      >
        <template v-slot:activator="{ on, attrs }">
        <v-btn
          small
          class="mb-2 btn btn-outline-danger"
          v-bind="attrs"
          v-on="on"
        >
          Lengkapi data diri anda
        </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="text-h5">Ubah Data</span>
          </v-card-title>

          <v-card-text>
            <v-container>
              <v-row>
                <v-col
                cols="12"
                md="12">
                  <v-text-field
                    v-model="data_profile.name"
                    label="Name"
                    :rules="rulesNotNull"
                    clearable
                  ></v-text-field>
                </v-col>

                <v-col
                cols="12"
                md="12">
                  <v-text-field
                    v-model="data_profile.email"
                    label="Email"
                    :rules="rulesEmail"
                    clearable
                  ></v-text-field>
                </v-col>

                <v-col
                cols="12"
                md="12">
                  <v-text-field
                    v-model="data_profile.telepon"
                    label="Telepon"
                    type="number"
                    :rules="rulesPhone"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    @keyup="handler(data_profile.telepon)"
                    :maxlength="maxPhone"
                    clearable
                  ></v-text-field>
                </v-col>

                <v-col
                cols="12"
                md="12">
                  <v-text-field
                    v-model="data_profile.alamat"
                    label="Alamat"
                    :rules="rulesNotNull"
                    clearable
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="#9F0000"
              text
              class="mb-3"
              @click="close"
            >
            Cancel
            </v-btn>
            <v-btn
              :disabled='isDisabled'
              color="#C58F06"
              text
              class="mb-3"
              @click="save"
            >
            Save
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";

export default {
  name: "home",
  data: () => ({
    dialog: false,
    data_profile: {
      name: "",
      email: "",
      telepon: "",
      alamat: ""
    },
    rulesNotNull: [
      value => !!value || 'Tidak boleh kosong.',
    ],
    rulesEmail: [
      value => !!value || 'Tidak boleh kosong.',
      value => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(value) || 'E-mail tidak valid'
    ],
    rulesPhone: [
      value => !!value || 'Tidak boleh kosong.',
      value => (value && value.length >= 10) || 'Min 10 Karakter',
    ],
    maxPhone:13,
    minPhone:10,
  }),
  mounted() {
    this.load()
  },
  methods: {
    AllData(){
      this.data_profile.name = localStorage.getItem('User_Name');
      this.data_profile.email = localStorage.getItem('User_Email');
      this.data_profile.telepon = localStorage.getItem('User_Phone');
      this.data_profile.alamat = localStorage.getItem('User_Address');
    },
    close () {
      this.dialog = false
      this.AllData();
    },
  
    save() {
      localStorage.setItem("User_Name", this.data_profile.name);
      localStorage.setItem("User_Email", this.data_profile.email);
      localStorage.setItem("User_Phone", this.data_profile.telepon);
      localStorage.setItem("User_Address", this.data_profile.alamat);
      localStorage.setItem("up-to-date", 1);
      this.AllData();
      Swal.fire({
        title: "",
        text: "Yeay, update success",
        icon: "success",
        heightAuto: true,
        timer: 1500
      });
      this.close();
    },

    handler(val){
      if(val==="0"){
         this.data_profile.telepon=null;
      }
    },

    async load() {
      Promise.all([
        await setTimeout(() => this.AllData(), 300),
      ]).then(function(results) {
        results;
      });
    },
  },
  watch: {
    dialog (val) {
      val || this.close()
    }
  },
  computed: {
    isDisabled(){
      return !this.data_profile.name || !this.data_profile.email || !this.data_profile.telepon || !this.data_profile.alamat 
      || (this.data_profile.telepon.length < this.minPhone)
      || (this.data_profile.telepon.length > this.maxPhone)
      || (!/^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(this.data_profile.email))
    }
  },
}
</script>