<template>
  <!-- begin:: Header Topbar -->
  <div class="topbar">
    <!--begin: User Bar -->
    <div class="topbar-item">
      <button class="btn btn-light-primary btn-bold" @click="onLogout">
        <i class="menu-icon flaticon-logout"></i>
        Sign out
      </button>
    </div>
    <!--end: User Bar -->
  </div>
  <!-- end:: Header Topbar -->
</template>

<style lang="scss">
.topbar {
  .dropdown-toggle {
    padding: 0;
    &:hover {
      text-decoration: none;
    }

    &.dropdown-toggle-no-caret {
      &:after {
        content: none;
      }
    }
  }

  .dropdown-menu {
    margin: 0;
    padding: 0;
    outline: none;
    .b-dropdown-text {
      padding: 0;
    }
  }
}
</style>

<script>
import { LOGOUT } from "@/core/services/store/auth.module";
import Swal from "sweetalert2";

export default {
  name: "KTTopbar",
  data() {
    return {
    };
  },
  components: {
  },
  methods: {
    onLogout() {
      Swal.fire({
        title: 'Logout ?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Ya !',
        cancelButtonText: 'Tidak !',
        confirmButtonColor: '#C58F06',
        cancelButtonColor: '#ddd',
        heightAuto: false
      }).then((result) => {
        if(result.value == true){
          this.$store
            .dispatch(LOGOUT)
            .then(() => this.$router.push({ name: "login" }));
        }
      })
    },
  },
  computed: {
  }
};
</script>
